<div class="container">
    <div class="nav">
         <div class="info">
            <span >
                  <img src="/phone.png" alt="phonenumber"> 
                  <p>(414) 857 - 0107</p>
            </span>
            <span>
                  <img src="/mail.png" alt="">
                  <p href="yummy@bistrobliss"> {{email}}</p>
            </span>
         </div>

         <div class="social"> <!-- here we will write our top nav bar -->
         
                <img src="/twitter.png" alt="">
                <img src="/fb.png" alt="">
                <img src="/ig.png" alt="">
                <img src="/git.png" alt="">
            </div>
         </div>   

    <div class="header">  <!--here we will write our header-->
            
                <img src="/logo.png" alt="">
           
            <div class="mid">
                <button routerLink="home" routerLinkActive="active">Home</button>
                <button routerLink="/menu" routerLinkActive="active" >Menu</button>
                <button routerLink="/Register" routerLinkActive="active" >Register</button>
                <button routerLink="/signin" routerLinkActive="active">Sign In</button>
                <button routerLink="contact" routerLinkActive="active">Contact</button>
            </div>
            <button routerLink="/book" routerLinkActive="active">Book A Table</button>
    </div>
</div>
 