<div class="container">
    <div class="main">
    <div class="info">
        <img src="/footer-logo.png" alt="">
        <p>In the new era of technology we look a <br> 
            in the future with certainty and pride to <br>
             for our company and.</p>

        <div class="social">
            <img src="/footer-tw.png" alt="">
            <img src="/footer-fb.png" alt="">
            <img src="/footer-ig.png" alt="">
            <img src="/footer-git.png" alt="">
        </div>
    </div>
    <div class="pages">
        <h5>Pages</h5>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Menu</a>
        <a href="#">Pricing</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
        <a href="#">Delivery</a>
    </div>




    <div class="links">
        <h5>Utility Pages</h5>
        <a href="#">Stay Here</a>
        <a href="#">Styleguide</a>
        <a href="#">Password Protected</a>
        <a href="#">404 Not Found</a>
        <a href="#">Licenses</a>
        <a href="#">Changelog</a>
        <a href="#">View More</a>
    </div>




    <div class="pics">
        <h5>Follow Us On instagram</h5>
        <div class="fill">
        <div class="first">
            <img src="/1.png" alt="">
            <img src="/3.png" alt="">
        </div>
        <div class="second">
                <img src="2.png" alt="">
                <img src="/4.png" alt="">
        </div>
    </div>    
        
    </div>
</div>
<div class="last">
    <p>Copyright © 2023 Hashtag Developer. All Rights Reserved</p>  
</div>
</div>
