<div class="container">
    <div class="header">
        <h1>Contact Us</h1>
        <p>We consider all the drivers of change gives you the components <br> you need to change to create a truly happens.</p>
    </div>
    <div >
        <form class="form" (submit)="submitForm($event)">
            <span>
            <label for="name">Name</label><br>
            <input type="text" name="name" placeholder="    Enter your name">
            </span>

           <span> <label for="Email">Email</label><br>
            <input type="email" name="Email" placeholder="    Enter your email address">
            </span>

            <span>
            <label for="Subject">Subject</label><br>
            <input name="Subject" id="Subject" class="msg" placeholder="     Write your Subject">
            </span>

            <span>
            <label for="message">Message</label><br>
            <input name="message" id="message" placeholder="     write your message...">
            </span>

            <button type="submit">Send</button>
        </form>
    </div>
    <div class="info">
        <span>
        <h3>Call Us:</h3>
        <p>+1-234-567-8900</p> 
        </span>

        <span>
        <h3>Hours:</h3>
        <p>Mon-Fri: 11am - 8pm <br>Sat, Sun: 9am - 10pm</p> <br>
        </span>

        <span>
        <h3>Our Location:</h3>
        <p>maadi 9th streat</p>
        </span>
    </div>






</div>
