<div class="main">
    <div class="container">
        <div class="info">
            <p>Best food for<br>your taste</p>
            <p>Discover delectable cuisine and unforgettable moments<br>in our welcoming, culinary haven.</p>
        </div>
         <div class="btns">
            <button routerLink="/book">Book A Table</button>
            <button routerLink="/menu">Explore Menu</button>
        </div>
    </div>
    <div class="browse">
                 <p>Browse Our Menu </p>
             <div class="cards">
                <div class="one">
                   <img src="/breakfast.png" alt=""> 
                    <h3>Breakfast</h3>
                    <h6>In the new era of technology we <br>
                                look in the future with certainty <br> and pride for our life.</h6>
                    <a routerLink="menu">Explore Menu</a>
                
                </div>
                <div class="one">
                    <img src="/maindish.png" alt=""> 
                     <h3>Main Dish</h3>
                     <h6>In the new era of technology we <br>
                                 look in the future with certainty <br> and pride for our life.</h6>
                     <a routerLink="menu">Explore Menu</a>
                 </div>
                 <div class="one">
                    <img src="/drinks.png" alt=""> 
                     <h3>Drinks</h3>
                     <h6>In the new era of technology we <br>
                                 look in the future with certainty <br> and pride for our life.</h6>
                     <a routerLink="menu">Explore Menu</a>
                 
                 </div>
                 <div class="one">
                    <img src="/dessert.png" alt=""> 
                     <h3>dessert</h3>
                     <h6>In the new era of technology we <br>
                                 look in the future with certainty <br> and pride for our life.</h6>
                     <a routerLink="menu">Explore Menu</a>
                 
                 </div>

            </div>
    </div>
    <div class="about">
            <div class="review">
                <img src="/review.png" alt="">
            </div>
            <div class="details">
                <h3>We provide healthy <br> food for your family.</h3>
                <p>Our story began with a vision to create a unique dining <br> experience that merges fine dining, exceptional service, and a <br>vibrant ambiance. Rooted in city's rich culinary culture, we aim to <br>honor our local roots while infusing a global palate</p>
                <p>At place, we believe that dining is not just about food, but also about the <br> overall experience. Our staff, renowned for their warmth and dedication,<br> strives to make every visit an unforgettable event.</p>
                <button href="#">More About Us</button>
            </div>        
    </div>

</div>