<div class="container">
    <div class="header">
        <h1>Register</h1>
    </div>
    <div >
        <form class="form" (submit)="submitForm($event)">
            <span class="names">
            <label for="name">FirstName</label><br>
            <input type="text"  placeholder="    Enter your FirstName">
            
            <label for="name">Email</label><br>
            <input type="email"  placeholder="    Enter your Email">

            <label for="Subject">Password</label><br>
            <input type="password" name="Subject" id="Subject"  placeholder="     Write your Password">
        </span>
        
        <span>
            <label for="name">LastName</label><br>
            <input type="text" Username="Lastname" placeholder="    Enter your LastName">

            <label for="name">PhoneNumber</label><br>
            <input type="text"  placeholder="    Enter your PhoneNumber">

            <label for="name">Address</label><br>
            <input type="text" placeholder="    Enter your Address">

            </span>

            <span>
            
            
            </span>


            <button type="submit">Send</button>
        </form>
    </div>
</div> 
